.searchBar__container{
    padding: 10;
    margin-bottom: 20;
    input {
        font-size: 18px;
        width: 50%;
        padding: 5px 5px 5px 10px;
        height: 28px;
        outline: none;
      }
}
